<div class="d-flex align-items-center justify-content-center">
  <h1>Twitter Accounts</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
  <%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary"%>
</div>

<% @twitter_accounts.each do |t| %>
  <span>Username: <%= t.username %></span>
<% end %>